<div class='nav-wrapper'>

    <div class='max-width-container horizontal pad'>
        <div class='brand'>
            <img src="../../assets/brand.svg" alt="Logo" style="height: 40px; width:auto">
        </div>
        <div class="nav-link-wrapper"></div>

        <a class='nav-link' routerLink='/' [ngClass]=" currentRoute === '/' ? 'is-active' : '' " >Home</a>

        <a class='nav-link' routerLink='/cart' [ngClass]=" currentRoute === '/cart' ? 'is-active' : '' ">Cart</a>

    </div>

</div>
