<app-nav [cartCount]="cartCount"></app-nav>
<div class="aligner">
    <div class="max-width-container horizontal">
        <div *ngIf="!orderPlaced; else orderSuccess" class="cart-wrapper">
            <div *ngIf="items.length >= 1; else emptyBlock" class="cart-products-container">
                <div class="cart-product" *ngFor="let item of items">
                    <img class="cart-product-thumb" src="../../assets/product-thumbs/{{item.thumb}}">
                    <div class="cart-product-details">
                        <p class="text-large">{{item?.name}}</p>
                        <p class="text-medium margin-top">Season {{item?.selectedSeason}}</p>
                        <p class="text-small margin-top margin-bottom">{{item?.description}}</p>
                        <div class="aligner horizontal space-between">
                            <p class="text-medium">${{item?.price}}</p>
                            <a (click)="removeItem(item)" class="button-primary">
                                Remove ❌
                            </a>
                        </div>
                    </div>
                    <div class="underline"></div>
                </div>
                <div class="cart-totals">
                    <a (click)="emptyCart()" class="button-primary">
                            Empty Cart 🗑
                    </a>
                    <p class="text-medium">Cart Total: ${{cartTotal}}</p>
                </div>
            </div>
            <ng-template #emptyBlock class="cart-products-container">
                <h1>No items in your cart</h1>
            </ng-template>
            <div class="aligner vertical left form-container">
                <p class="text-large margin-bottom">Place your order ⤵️</p>
                <app-cart-form (placeOrder)="placeOrder($event)"></app-cart-form>
            </div>
        </div>
        <ng-template #orderSuccess class="cart-wrapper">
            <div class="order-success vertical" style="min-height: 100%">
                <h1 class="margin-bottom">Your order has been placed 🍻</h1>
                <p class="text-large margin-bottom">Your receipt includes: </p>
                <p class="text-medium margin-bottom">Your name: {{receipt.name}}</p>
                <p class="text-medium margin-bottom">Your email: {{receipt.email}}</p>
                <p class="text-medium margin-bottom">Your address: {{receipt.address}}</p>
                <p class="text-medium">Your card ending in: {{receipt.card?.substring(receipt.card.length-4)}}</p>
            </div>
        </ng-template>
    </div>
</div>